 /*@keyframes burn {
   0% {
     border-bottom: 3px solid orangered;
   }

   50% {
     border-bottom: 8px solid orangered;
   }

   100% {
     border-bottom: 3px solid orangered;
   }
 } */

 @keyframes burn {
  0% {
    border-bottom: 3px solid #2369AD; /* Початковий колір */
  }

  50% {
    border-bottom: 8px solid #052044; /* Темніший відтінок на середині */
  }

  100% {
    border-bottom: 3px solid #052044; /* Завершення анімації */
  }
}




 .points {
  font-size: 30px;
  font-weight: bold;
  color: #262626;
  margin-right: 20px;
 }

 @media (min-width: 600px) {
   .challengeHeader {
      justify-content: end;
   }
 }