#challengeLevel1 {
  position: relative;
  padding: 20px;
  margin-top: 20px;
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow:
    0 0 20px rgba(255, 100, 0, 0.6),
    0 0 30px rgba(255, 165, 0, 0.5);
  animation: flicker 2s infinite;
}

#challengeLevel1:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 2px solid transparent;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.8),
    rgba(255, 165, 0, 0.8)
  );
  animation: flame-border 2s infinite;
  z-index: -1;
}

@keyframes flicker {
  0%,
  100% {
    box-shadow:
      0 0 20px rgba(255, 100, 0, 0.6),
      0 0 30px rgba(255, 165, 0, 0.5);
  }
  50% {
    box-shadow:
      0 0 25px rgba(255, 150, 0, 0.7),
      0 0 35px rgba(255, 200, 0, 0.6);
  }
}

@keyframes flame-border {
  0%,
  100% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: scale(1.1);
    filter: hue-rotate(30deg);
  }
}

.hero1,
.answer {
  max-width: 100%;
  height: auto;
}

.answerBtn {
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-check:checked + .btn-outline-primary {
  background-color: #007bff; /* Change this color to your desired active state */
  color: white; /* Text color for active state */
}

.btn-outline-primary:hover {
  background-color: rgba(
    0,
    123,
    255,
    0.1
  ); /* Light background color on hover */
}

/* Hover effect for checked radio button */
.btn-check:checked + .btn-outline-primary:hover {
  background-color: #0056b3; /* Darker shade for hover on active state */
  color: white; /* Maintain text color on active hover */
}

.btn-outline-primary {
  width: 100%;
  margin-top: 10px;
}

.form-check-input:checked + .btn-outline-primary {
  background-color: rgba(255, 200, 0, 0.6);
  border-color: rgba(255, 200, 0, 0.6);
  color: white;
  font-weight: bold;
}
