 @keyframes burn {
  0% {
    border-bottom: 3px solid rgb(35, 105, 173);
  }

  50% {
    border-bottom: 8px solid #052044;
  }

  100% {
    border-bottom: 3px solid #052044;
  }
}

 .points {
  font-size: 30px;
  font-weight: bold;
  color: #262626;
  margin-right: 20px;
 }

 @media (min-width: 600px) {
   .challengeHeader {
      justify-content: end;
   }
 }