.react-hot-toast {
  max-width: none !important; /* Знімає обмеження */
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gameOver {
  justify-content: space-around;
  padding: 15px;
}

.nav-element {
  font-weight: bold;
  text-decoration: none;
}

.notification {
  color: "#fff";
  border-radius: "8px";
  padding: "16px";
  box-shadow: "0 0 15px rgba(0, 0, 0, 0.3)";
}
